div .content-wrapper {
  background-color: #212121;
  z-index: 800
}

#Inputs-base_map {
  height: 80vh !important;
}

aside #sidebarCollapsed {
  background-color: #212121;
}

aside .main-sidebar {
  width: 300px !important;
}

.rt-expander:after {
    border-top: 7px solid white !important;
}

div .nav-tabs-custom {
  background-color: transparent;
}

.ReactTable {
    background-color: transparent !important;
    color: white !important;
}

.nav-tabs-custom > .tab-content {
  background-color: transparent;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px white;
  margin-bottom: -1px;
  border-bottom: solid 1px #212121;
}

.nav-tabs-custom > .nav-tabs > li a {
  background-color: transparent;
  color: white;
  padding: 15px 15px 20px;
}

.nav-tabs-custom > .nav-tabs > li a:hover, .nav-tabs-custom > .nav-tabs > li.active a {
  color: #5996E3;
  background-color: transparent;
}

.nav-tabs-custom > .nav-tabs > li a::after {
  content: "";
  position: absolute;
  left:15px;
  bottom: 10px;
  width: 22px;
  height: 2px;
  background: white;
}

pre.sourcefile {
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.nav-tabs-custom > .nav-tabs > li.active a::after {
  background: #5996E3;
}
.navbar {
  background-color: #212121 !important;
}

.skin-blue .main-header .navbar {
  background-color: #e74c3c !important;
}

.main-header .logo {
  background-color: #d62c1a !important;
}

.main-header .logo:hover {
  background-color: #d62c1a !important
  }


.box-header {
    color: transparent;
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
}

.box-header > .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  color: white;
  font-weight: bold;
}

.sidebar-toggle:hover {
  background-color: #d62c1a !important
}

ul .sidebar-menu {
  padding-top: 40px;
}

.sidebar-menu > .active > a {
  border-left-color: #f7dc6f !important;
}

.box {
  background-color: transparent;
  border: 0;
}

div.sidebartext li {
    padding: 5px 0 5px 20px;
    list-style-type: disc;
    list-style-position: inside;
}
